@use "./var.scss";

#hero {
  padding: 70px 0;

  hgroup {
    padding: 30px 0;
  }

  #role-list {
    font-size: 1.1em;
  }

  p {
    max-width: 500px;
  }

  .cta {
    padding: 40px 0;
    a {
      padding: 15px 30px;
      border-radius: 5px;
      font-weight: 600;

      &.project {
        &:link,
        &:visited {
          color: #fff;
          background: var.$cl-main;
        }
      }

      &.contact {
        margin-left: 5px;
        transition: background 0.2s;

        &:link,
        &:visited {
          color: #000;
          border: 1px solid #000;
        }

        &:hover {
          background: #fff;
        }
      }
    }
  }
}

h1 {
  margin: 5px 0 10px 0;
  font-size: 3.1em;
  font-weight: 900;
}

#lang {
  background: #fff;
  color: #333;
  padding: 50px 0;

  p {
    max-width: 500px;
  }
}
