---
import "@styles/footer.scss"
---

<footer id="footer">
  <div class="ship">
    <div class="left">
      <div class="img-rounder">
        <img src="/img/kaizan.jpg" alt="" />
      </div>
    </div>
    <div class="right">
      <div class="social">
        <h3>Temenan Yok!</h3>
        <a
          href="https://instagram.com/kaizansultan"
          title="Instagram - Kaizan Sultan">@kaizansultan</a
        >
        <a href="https://github.com/kaizansultan" title="GitHub - Kaizan Sultan"
          >@kaizansultan</a
        >
        <a
          href="https://linkedin.com/in/kaizansultan"
          title="LinkedIn - Kaizan Sultan">in/kaizansultan</a
        >
        <a href="https://x.com/kaizansultan" title="X - Kaizan Sultan"
          >@kaizansultan</a
        >
      </div>
    </div>
  </div>
</footer>
