---
import "@styles/header.scss"
---

<header id="header">
  <div class="ship">
    <div id="banner">
      <strong>KAIZAN</strong>
    </div>
    <nav id="main-nav">
      <a href="/" title="Kembali ke Beranda">HOME</a>
      <a href="/skill" title="Skill yang saya kuasai">SKILL</a>
      <a href="/project" title="Project yang saya kerjakan">PROJECT</a>
      <a href="/stats" title="Status perjalanan saya">STATS</a>
      <a href="/contact" title="Kontak saya">CONTACT</a>
    </nav>
  </div>
</header>
