---
import "@styles/landing.scss"
---

<section id="hero">
  <hgroup>
    <div>Halo, Nama Saya</div>
    <h1>Kaizan Sultan</h1>
    <div id="role-list">
      | Fullstack Developer <br />
      | UI/UX Designer <br />
      | Open Source Advocate <br />
    </div>
  </hgroup>
  <p>
    Seorang antusias dalam dunia teknologi dan pemrograman yang menghabiskan
    hampir seluruh waktunya untuk belajar dan <i>ngoding</i>.
  </p>
  <div class="cta">
    <a href="/projects" title="Proyek-proyek yang saya kerjakan" class="project"
      >Projects</a
    >
    <a href="/kontak" title="Hubungi Saya" class="contact">Contact Me</a>
  </div>
</section>
<section id="lang">
  <p>
    Berkat pengalaman selama 7 tahun (2017 sampai sekarang), saya sudah terbiasa
    bekerja menggunakan berbagai macam bahasa pemrograman.
  </p>

  <hgroup>
    <h2>Bahasa Pemrograman</h2>
    <div>Yang Saya Kuasai</div>
  </hgroup>

  <div id="lang-list">
    <p>(klik untuk melihat proyek terkait)</p>
  </div>
</section>
